@tailwind base;
@tailwind components;
@tailwind utilities;

.tabs-boxed .tab-active:not(.tab-disabled):not([disabled]) {
  background-color: #f08700;
  color: white;
}

.tabs-boxed .tab-active:not(.tab-disabled):not([disabled]):hover {
  background-color: #f08700;
  color: white;
}

.banner-height {
  height: auto;
}

@media (max-width: 1023px) {
  .banner-height {
    height: calc(100dvh - 64px);
  }
}

.whatsappanim {
  transition-duration: 0.4s;
  transform: scale(1);
}

.whatsappanim:hover {
  transform: scale(1.1);
}

.hero-content {
  justify-content: space-between;
  width: 100%;
  padding: 0;
}

html,
body {
  background-color: #0b0b0d;
  color: #fff;
  min-height: 100%;
  overscroll-behavior-y: none;
}

/* Text selection */
::selection {
  background: #2563eb;
  /* Blue */
  color: #ffffff;
  /* White */
}

/* Firefox support */
::-moz-selection {
  background: #2563eb;
  color: #ffffff;
}