@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.card {
  position: relative;
  width: 400px;
  height: 300px;
  overflow: hidden;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.card:hover .card-overlay {
  visibility: visible;
  opacity: 1;
}

.card-buttons {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-button {
  padding: 15px 26px;
  border-radius: 4px;
  background-color: #fff;
  color: #000;
  text-transform: uppercase;
  font-weight: 600;
  margin: 0 15px;
  transition: all 0.3s ease-in-out;
  transform: scale(0);
}

.card:hover .card-button {
  transform: scale(1);
}

.alert{
  position: fixed;
  width: 80%;
  top: 0;
}



@media only screen and (max-width: 600px) {
  .card {
    width: 300px;
    margin: 0 auto;
  }
  .mobile-responsive{
    flex-direction: column;
    justify-content: center;
  }
  .mobile-navigation{
    justify-content: center;
  }
  .mobile-burgur{
   position: absolute;
   top: 40px;
   z-index: 1;
  }
  .mobile-responsive-style{
    
  }
}


@font-face {
  font-family: "burtons";
  src: url("../public/Burtons.otf");
}
